node_modules/
dist/
.storybook-out/

# 生成ファイル
src/css/core-webfont.scss
src/css/resources/core-webfont-mixin.scss
src/fonts/_dist

# エラー関係
package-lock.json
yarn-error.log
npm-debug.log

# エディタなどで生成されるファイル
.idea/
.DS_Store

# vimのtag jump設定
tags

